<a href="https://colab.research.google.com/github/pragatheesha/customer_churn_prediction/blob/main/churn_prediction_pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Import libraries

import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.pipeline import Pipeline

In [22]:
# load dataset

df=pd.read_csv('/content/customer_churn.csv')
df

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,1,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,1,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,0,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,1,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,1,0

In [23]:
df1=df
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,1,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,1,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,0,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,1,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,1,0

In [24]:
# Dataset overview

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        500 non-null    object
 1   Tenure            500 non-null    int64
 2   MonthlyCharges    500 non-null    int64
 3   TotalCharges      500 non-null    int64
 4   Contract          500 non-null    object
 5   PaymentMethod     500 non-null    object
 6   PaperlessBilling  500 non-null    object
 7   SeniorCitizen     500 non-null    int64
 8   Churn             500 non-null    int64
dtypes: int64(5), object(4)
memory usage: 35.3+ KB

In [25]:
df1.describe()

           Tenure  MonthlyCharges  TotalCharges  SeniorCitizen       Churn
count  500.000000      500.000000    500.000000     500.000000  500.000000
mean    36.532000      113.636000   4237.882000       0.498000    0.106000
std     20.667057       51.799903   2260.619837       0.500497    0.308146
min      1.000000       20.000000    159.000000       0.000000    0.000000
25%     19.000000       67.000000   2237.250000       0.000000    0.000000
50%     37.000000      115.000000   4182.500000       0.000000    0.000000
75%     54.000000      158.000000   6266.750000       1.000000    0.000000
max     71.000000      199.000000   7992.000000       1.000000    1.000000

In [26]:
df1.head()

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0

In [27]:
# handling missing value

# Convert TotalCharges to numeric (common issue)
if "TotalCharges" in df1.columns:
    df1["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors="coerce")

In [28]:
# fill numeric columns

num_cols = df1.select_dtypes(include=["int64", "float64"]).columns
df1[num_cols] = df1[num_cols].fillna(df[num_cols].median())

In [29]:
# Fill categorical columns

cat_cols = df1.select_dtypes(include=["object"]).columns
df1[cat_cols] = df1[cat_cols].fillna(df[cat_cols].mode().iloc[0])

In [30]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,1,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,1,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,0,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,1,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,1,0

In [31]:
df1.dtypes

CustomerID          object
Tenure               int64
MonthlyCharges       int64
TotalCharges         int64
Contract            object
PaymentMethod       object
PaperlessBilling    object
SeniorCitizen        int64
Churn                int64
dtype: object

In [32]:
# encodimg categorical values

label_encoder = LabelEncoder()
df1['Churn'] = label_encoder.fit_transform(df1['Churn'])

In [33]:
# Binary encoding

binary_cols = ["PaperlessBilling"]
for col in binary_cols:
    df1[col] = df1[col].replace({"Yes": 1, "No": 0})

/tmp/ipython-input-2056867508.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1[col] = df1[col].replace({"Yes": 1, "No": 0})

In [34]:
# one hot encoding - nominal

df1 = pd.get_dummies(
    df1,
    columns=["Contract", "PaymentMethod"],
    drop_first=True
)

In [35]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check
0,C00001,6,64,1540,0,1,0,True,False,True,False
1,C00002,21,113,1753,1,1,0,False,False,False,True
2,C00003,27,31,1455,0,1,0,False,True,True,False
3,C00004,53,29,7150,0,1,0,False,False,False,True
4,C00005,16,185,1023,0,1,0,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,1,1,0,False,False,True,False
496,C00497,2,49,5917,0,1,0,False,True,False,False
497,C00498,46,198,2158,0,0,0,False,False,False,False
498,C00499,1,185,5755,1,1,1,False,True,True,False
499,C00500,27,181,4292,0,1,0,False,False,False,False

In [36]:
# feature scaling

# Minmax scaling
minmax = MinMaxScaler()
df1[["MonthlyCharges"]] = minmax.fit_transform(df1[["MonthlyCharges"]])

In [38]:
# standard scaling

standard = StandardScaler()
df1[["Tenure"]] = standard.fit_transform(df1[["Tenure"]])

In [39]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check
0,C00001,-1.478807,0.245810,1540,0,1,0,True,False,True,False
1,C00002,-0.752287,0.519553,1753,1,1,0,False,False,False,True
2,C00003,-0.461679,0.061453,1455,0,1,0,False,True,True,False
3,C00004,0.797622,0.050279,7150,0,1,0,False,False,False,True
4,C00005,-0.994460,0.921788,1023,0,1,0,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,0.652318,0.603352,6970,1,1,0,False,False,True,False
496,C00497,-1.672545,0.162011,5917,0,1,0,False,True,False,False
497,C00498,0.458579,0.994413,2158,0,0,0,False,False,False,False
498,C00499,-1.720980,0.921788,5755,1,1,1,False,True,True,False
499,C00500,-0.461679,0.899441,4292,0,1,0,False,False,False,False

In [53]:
# Outlier detection

#IQR method
Q1 = df1["MonthlyCharges"].quantile(0.25)
Q3 = df1["MonthlyCharges"].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1.5 * IQR
upper = Q3 + 1.5 * IQR

df1  = df1[(df1["MonthlyCharges"] >= lower) & (df1["MonthlyCharges"] <= upper)]

In [54]:
# feature engineering

# 1. Customer Lifetime Value
df1["Customer_Lifetime_Value"] = df1["MonthlyCharges"] * df1["Tenure"]

In [58]:
#  2. High Value Customer
df1["High_Value_Customer"] = (
    df1["Customer_Lifetime_Value"] > df1["Customer_Lifetime_Value"].median()
).astype(int)

In [57]:
# 3. Tenure Group
df1["Tenure_Group"] = pd.cut(
    df1["Tenure"],
    bins=[-2, -0.5, 0.5, 2],
    labels=["New", "Medium", "Long"]
)

In [56]:
# 4. Payment Efficiency
df1["Payment_Efficiency"] = df1["TotalCharges"] / (df1["Tenure"] + 1)

In [55]:
# 5. High Monthly Charge Flag
df1["High_Monthly_Charge"] = (
    df1["MonthlyCharges"] > df1["MonthlyCharges"].mean()
).astype(int)

In [60]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check,Customer_Lifetime_Value,High_Value_Customer,Tenure_Group,High_Monthly_Charge,Payment_Efficiency
0,C00001,-1.478807,0.245810,1540,0,1,0,True,False,True,False,-0.363506,0,New,0,-3216.330551
1,C00002,-0.752287,0.519553,1753,1,1,0,False,False,False,True,-0.390853,0,New,0,7076.734257
2,C00003,-0.461679,0.061453,1455,0,1,0,False,True,True,False,-0.028371,0,Medium,0,2702.848368
3,C00004,0.797622,0.050279,7150,0,1,0,False,False,False,True,0.040104,1,Long,0,3977.477587
4,C00005,-0.994460,0.921788,1023,0,1,0,True,False,False,True,-0.916681,0,New,1,184659.775024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,0.652318,0.603352,6970,1,1,0,False,False,True,False,0.393577,1,Long,1,4218.316925
496,C00497,-1.672545,0.162011,5917,0,1,0,False,True,False,False,-0.270971,0,New,0,-8797.923274
497,C00498,0.458579,0.994413,2158,0,0,0,False,False,False,False,0.456017,1,Medium,1,1479.521993
498,C00499,-1.720980,0.921788,5755,1,1,1,False,True,True,False,-1.586378,0,New,1,-7982.193993
499,C00500,-0.461679,0.899441,4292,0,1,0,False,False,False,False,-0.415253,0,Medium,1,7972.938278

In [66]:
print('\ndf after adding new features:')
df.head()

df after adding new features:

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn,Customer_Lifetime_Value,High_Value_Customer,Payment_Efficiency,High_Monthly_Charge
0,C00001,-1.478807,64,1540,One year,Credit Card,0,1,0,-94.643617,0,-3216.330551,0
1,C00002,-0.752287,113,1753,Month-to-month,Electronic Check,1,1,0,-85.008416,0,7076.734257,0
2,C00003,-0.461679,31,1455,Two year,Credit Card,0,1,0,-14.312049,0,2702.848368,0
3,C00004,0.797622,29,7150,Month-to-month,Electronic Check,0,1,0,23.131029,1,3977.477587,0
4,C00005,-0.994460,185,1023,One year,Electronic Check,0,1,0,-183.975115,0,184659.775024,1

In [61]:
# Encode Tenure_Group
df1 = pd.get_dummies(df1, columns=["Tenure_Group"], drop_first=True)

In [62]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check,Customer_Lifetime_Value,High_Value_Customer,High_Monthly_Charge,Payment_Efficiency,Tenure_Group_Medium,Tenure_Group_Long
0,C00001,-1.478807,0.245810,1540,0,1,0,True,False,True,False,-0.363506,0,0,-3216.330551,False,False
1,C00002,-0.752287,0.519553,1753,1,1,0,False,False,False,True,-0.390853,0,0,7076.734257,False,False
2,C00003,-0.461679,0.061453,1455,0,1,0,False,True,True,False,-0.028371,0,0,2702.848368,True,False
3,C00004,0.797622,0.050279,7150,0,1,0,False,False,False,True,0.040104,1,0,3977.477587,False,True
4,C00005,-0.994460,0.921788,1023,0,1,0,True,False,False,True,-0.916681,0,1,184659.775024,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,0.652318,0.603352,6970,1,1,0,False,False,True,False,0.393577,1,1,4218.316925,False,True
496,C00497,-1.672545,0.162011,5917,0,1,0,False,True,False,False,-0.270971,0,0,-8797.923274,False,False
497,C00498,0.458579,0.994413,2158,0,0,0,False,False,False,False,0.456017,1,1,1479.521993,True,False
498,C00499,-1.720980,0.921788,5755,1,1,1,False,True,True,False,-1.586378,0,1,-7982.193993,False,False
499,C00500,-0.461679,0.899441,4292,0,1,0,False,False,False,False,-0.415253,0,1,7972.938278,True,False

In [64]:
# feature selection

X = df1.drop("Churn", axis=1)
y = df1["Churn"]
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check,Customer_Lifetime_Value,High_Value_Customer,High_Monthly_Charge,Payment_Efficiency,Tenure_Group_Medium,Tenure_Group_Long
0,C00001,-1.478807,0.245810,1540,0,1,0,True,False,True,False,-0.363506,0,0,-3216.330551,False,False
1,C00002,-0.752287,0.519553,1753,1,1,0,False,False,False,True,-0.390853,0,0,7076.734257,False,False
2,C00003,-0.461679,0.061453,1455,0,1,0,False,True,True,False,-0.028371,0,0,2702.848368,True,False
3,C00004,0.797622,0.050279,7150,0,1,0,False,False,False,True,0.040104,1,0,3977.477587,False,True
4,C00005,-0.994460,0.921788,1023,0,1,0,True,False,False,True,-0.916681,0,1,184659.775024,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,0.652318,0.603352,6970,1,1,0,False,False,True,False,0.393577,1,1,4218.316925,False,True
496,C00497,-1.672545,0.162011,5917,0,1,0,False,True,False,False,-0.270971,0,0,-8797.923274,False,False
497,C00498,0.458579,0.994413,2158,0,0,0,False,False,False,False,0.456017,1,1,1479.521993,True,False
498,C00499,-1.720980,0.921788,5755,1,1,1,False,True,True,False,-1.586378,0,1,-7982.193993,False,False
499,C00500,-0.461679,0.899441,4292,0,1,0,False,False,False,False,-0.415253,0,1,7972.938278,True,False

In [67]:
# Build preprocessing pipeline

pipeline = Pipeline([
    ("scaler", StandardScaler())
])

# Drop non-numeric columns like 'CustomerID' before scaling
X_processed = pipeline.fit_transform(X.drop('CustomerID', axis=1))

In [68]:
df1

,CustomerID,Tenure,MonthlyCharges,TotalCharges,PaperlessBilling,SeniorCitizen,Churn,Contract_One year,Contract_Two year,PaymentMethod_Credit Card,PaymentMethod_Electronic Check,Customer_Lifetime_Value,High_Value_Customer,High_Monthly_Charge,Payment_Efficiency,Tenure_Group_Medium,Tenure_Group_Long
0,C00001,-1.478807,0.245810,1540,0,1,0,True,False,True,False,-0.363506,0,0,-3216.330551,False,False
1,C00002,-0.752287,0.519553,1753,1,1,0,False,False,False,True,-0.390853,0,0,7076.734257,False,False
2,C00003,-0.461679,0.061453,1455,0,1,0,False,True,True,False,-0.028371,0,0,2702.848368,True,False
3,C00004,0.797622,0.050279,7150,0,1,0,False,False,False,True,0.040104,1,0,3977.477587,False,True
4,C00005,-0.994460,0.921788,1023,0,1,0,True,False,False,True,-0.916681,0,1,184659.775024,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,C00496,0.652318,0.603352,6970,1,1,0,False,False,True,False,0.393577,1,1,4218.316925,False,True
496,C00497,-1.672545,0.162011,5917,0,1,0,False,True,False,False,-0.270971,0,0,-8797.923274,False,False
497,C00498,0.458579,0.994413,2158,0,0,0,False,False,False,False,0.456017,1,1,1479.521993,True,False
498,C00499,-1.720980,0.921788,5755,1,1,1,False,True,True,False,-1.586378,0,1,-7982.193993,False,False
499,C00500,-0.461679,0.899441,4292,0,1,0,False,False,False,False,-0.415253,0,1,7972.938278,True,False

In [69]:
# save processed dataset

df1.to_csv("processed_churn_data.csv", index=False)
print("Preprocessing completed successfully.")

Preprocessing completed successfully.